body, html {
  background-color: #EDE8DF;
  color: white;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

svg {
  background-color: #EDE8DF;
}

button {
  background-color: black;
  border-width: 1px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  text-align: left;
}